{# ENVIOS DE LOS BOLETINES #}

<div>
    <div>
        {{ macro.textarea({'caption':'Para','visible':1,'varEnv':'0'},'field_title','destino[para]','destino_para',none,none,none,'textarea',100)}} 
        {{ macro.textarea({'caption':'Con copia','visible':1,'varEnv':'0'},'field_title','destino[cc]','destino_cc',none,none,none,'textarea',100)}} 
        {{ macro.textarea({'caption':'Con copia oculta','visible':1,'varEnv':'0'},'field_title','destino[cco]','destino_cco',none,none,none,'textarea',100)}} 
        <div id="divBotonEnviar"><input type="button" value="Enviar" id="botonEnviar"/></div>
    </div>

    <div id="Listado" style="margin-top: 30px;">
    {% if datos.envios | length > 0 %}
        <h3>Historial de envíos</h3>
        <table width='100%'>
            <thead>
                <tr class="Titulos">
                    <th class="Item"Para</td>
                    <th class="Item"Con Copia</td>
                    <th class="Item"Con Copia Oculta</td>
                    <th class="Item"Fecha envío</td>
                    <th class="Item"Enviado por</td>
                </tr>
            </thead>
            <tbody class="Cuerpo">
                {% for envio in datos.getEnvios %}
                    <tr>
                        <td class="Item">{{envio.Para}}</td>
                        <td class="Item">{{envio.Cc}}</td>
                        <td class="Item">{{envio.Cco}}</td>
                        <td class="Item">{{envio.CreatedAt}}</td>
                        <td class="Item">{{envio.CreatedBy}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aún no se ha envíado el boletín</p>
    {% endif %}
    </div>
</div>
<script>
$(function(){
    $('#botonEnviar').click(function(){
        if ($.trim($('#destino_para').val()) !== '') {
            $('#divBotonEnviar').html("Enviando, espere ...");
            $('#action_{{ values.controller }}').val('EnviarBoletin');
            $(manto_{{ values.controller }}).submit(); 
        } else {
            alert("Debe indicar al menos un destinatario");
        }
    });
});
</script>
