{#
  CAMPOS COMUNES A TODOS LOS FORMULARIOS

  EL TABINDEX EMPIEZA EN 100

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 09.09.2012 01:51:37
#}

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'general' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-general" onclick="activaSolapa('general');">General</a></li>
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'fechas' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-fechas" onclick="activaSolapa('fechas');">Fechas</a></li>
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'meta' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-meta" onclick="activaSolapa('meta');">Meta</a></li>
        {% if datos.getPrimaryKeyValue %}
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'imagenes' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-imagenes" onclick="activaSolapa('imagenes');">Imágenes</a></li>
        {% if values.varEnvMod.galeria.hayGaleria == '1' %}
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'galeria' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-galeria" onclick="activaSolapa('galeria');cargaGaleria('tabs-galeria');">Galería</a></li>
        {% endif %}
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'documentos' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-documentos" onclick="activaSolapa('documentos');cargaDocumentos('tabs-documentos');">Documentos</a></li>
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'urls' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-urls" onclick="activaSolapa('urls');">URLs</a></li>
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'sitemap' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-sitemap" onclick="activaSolapa('sitemap');">SiteMap</a></li>
        <li class="ui-state-default ui-corner-top {% if values.solapaActiva == 'auditoria' %} ui-tabs-selected ui-state-active{% endif %}"><a href="#tabs-auditoria" onclick="activaSolapa('auditoria');">Auditoría</a></li>
        {% endif %}
    </ul>

    {# SOLAPA GENERAL #}
    <div id="tabs-general" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.input(atributos.Id,'field_title','text',values.controller ~ '[Id]',values.controller ~ '_Id',datos.primaryKeyValue,none,none,110,'disabled') }}
        {% if user.idPerfil == 1 %}
            {{ macro.input(atributos.PrimaryKeyMD5,'field_title','text',values.controller ~ '[PrimaryKeyMD5]',values.controller ~ '_PrimaryKeyMD5',datos.PrimaryKeyMD5,'100','CampoTextoLargo',none,'disabled') }}
            {{ macro.select(atributos.IsDefault,'field_title',values.controller ~ '[IsDefault]',values.controller ~ '_IsDefault',none,datos.IsDefault.IDTipo,datos.IsDefault.fetchAll(none,0),'chzn-select',101)}}
        {% endif %}
        {{ macro.select(atributos.BelongsTo,'field_title',values.controller ~ '[BelongsTo]',values.controller ~ '_BelongsTo',none,datos.BelongsTo.getPrimaryKeyValue,datos.fetchAll('Titulo'),'chzn-select',110) }}
        {{ macro.textarea(atributos.Observations,'field_title',values.controller ~ '[Observations]',values.controller ~ '_Observations',datos.Observations,none,none,'textarea',100)}}
        {{ macro.select(atributos.Checked,'field_title',values.controller ~ '[Checked]',values.controller ~ '_Checked',none,datos.Checked.IDTipo,datos.Checked.fetchAll(none,0),'chzn-select',102)}}
        {{ macro.select(atributos.Publish,'field_title',values.controller ~ '[Publish]',values.controller ~ '_Publish',none,datos.Publish.IDTipo,datos.Publish.fetchAll(none,0),'chzn-select',103)}}
        {{ macro.select(atributos.Privacy,'field_title',values.controller ~ '[Privacy]',values.controller ~ '_Privacy',none,datos.Privacy.IDTipo,datos.Privacy.fetchAll(none,0),'chzn-select',109)}}
        {{ macro.input(atributos.SortOrder,'field_title','text',values.controller ~ '[SortOrder]',values.controller ~ '_SortOrder',datos.SortOrder,none,none,110) }}
        {% if datos.getPrimaryKeyValue %}
            {{ macro.input(atributos.NumberVisits,'field_title','text',values.controller ~ '[NumberVisits]',values.controller ~ '_NumberVisits',datos.NumberVisits,none,'CampoImporte',113, 'disabled') }}
        {% endif %}
    </div>

    {# SOLAPA FECHAS #}
    <div id="tabs-fechas" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.fecha(atributos.PublishedAt,'field_title',values.controller ~ '[PublishedAt]',values.controller ~ '_PublishedAt',datos.PublishedAt,'19','datepicker',111) }}
        {{ macro.fecha(atributos.ActiveFrom,'field_title',values.controller ~ '[ActiveFrom]',values.controller ~ '_ActiveFrom',datos.ActiveFrom,'19','datepicker',104) }}
        {{ macro.fecha(atributos.ActiveTo,'field_title',values.controller ~ '[ActiveTo]',values.controller ~ '_ActiveTo',datos.ActiveTo,'19','datepicker',105) }}
    </div>

    {# SOLAPA META #}
    <div id="tabs-meta" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        {{ macro.select(atributos.LockMetatagTitle,'field_title',values.controller ~ '[LockMetatagTitle]',values.controller ~ '_LockMetatagTitle',none,datos.LockMetatagTitle.IDTipo,datos.LockMetatagTitle.fetchAll(none,0),'chzn-select',117)}}
        {% if datos.LockMetatagTitle.IDTipo == '1' %} {% set disabled = 'DISABLED' %} {% else %} {% set disabled = none %} {% endif %}
        {{ macro.input(atributos.MetatagTitle,'field_title','text',values.controller ~ '[MetatagTitle]',values.controller ~ '_MetatagTitle',datos.MetatagTitle,none,none,110, disabled) }}
        {{ macro.textarea(atributos.MetatagDescription, 'field_title', values.controller ~ '[MetatagDescription]', values.controller ~ '_MetatagDescription', datos.MetatagDescription, none, none, 'textarea',115) }}
        {{ macro.textarea(atributos.MetatagKeywords, 'field_title', values.controller ~ '[MetatagKeywords]', values.controller ~ '_MetatagKeywords', datos.MetatagKeywords, none, none, 'textarea',116) }}
        {{ macro.select(atributos.MetatagTitleSimple,'field_title',values.controller ~ '[MetatagTitleSimple]',values.controller ~ '_MetatagTitleSimple',none,datos.MetatagTitleSimple.IDTipo,datos.MetatagTitleSimple.fetchAll(none,0),'chzn-select',117)}}
        {{ macro.select(atributos.MetatagTitlePosition,'field_title',values.controller ~ '[MetatagTitlePosition]',values.controller ~ '_MetatagTitlePosition',none,datos.MetatagTitlePosition.IDTipo,datos.MetatagTitlePosition.fetchAll(none,0),'chzn-select',118)}}
    </div>

    {% if datos.getPrimaryKeyValue %}
    {# SOLAPA IMAGENES #}
    <div id="tabs-imagenes" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        <table style="width: 100%;">
            <tr style="height: 50px;"><td colspan="2">
            <input name="MAX_FILE_SIZE" value="{{values.varEnvMod.maxImageSize}}" type="hidden"  />
            Imágen Master: <input name="imagenMaster" id="imagenMaster" type="file" />
            <input type="button" value="Enviar"
               onclick="
                   $('#action_{{ values.controller }}').val('Imagen');
                   $('#accion_{{ values.controller }}').val('EnviarMaster');
                   submitForm('manto_{{ values.controller}}');" />
            </td></tr>

            <input name="idImagenEnviar" id="idImagenEnviar" value="" type="hidden" />
            {% for key,imagen in values.datos.getDocuments('image%','IsThumbnail=0') %}
            <tr>
                <td align="center" style="width: 50%;">
                    <img src="{{project.folder}}/docs/{{values.controller}}/{{imagen.Name}}" width="200px" />
                    <br />{{imagen.getSize}} ({{imagen.Width}} x {{imagen.Height}})<br />
                    <input name="MAX_FILE_SIZE" value="{{values.varEnvMod.maxImageSize}}" type="hidden"  />
                    <input name="{{imagen.Type}}" id="imagen{{key}}" type="file" />
                    <input type="button" value="Enviar"
                        onclick="
                            $('#action_{{ values.controller }}').val('Imagen');
                            $('#accion_{{ values.controller }}').val('EnviarImagen');
                            $('#idImagenEnviar').val('{{key}}');
                            submitForm('manto_{{ values.controller}}');" />
                    <input type="button" value="Quitar imagen"
                        onclick="
                            if (!confirm('¿Desea borrar la imagen?')) {return false;}
                            else {
                            $('#action_{{ values.controller }}').val('Imagen');
                            $('#accion_{{ values.controller }}').val('Quitar');
                            $('#idImagenEnviar').val('{{key}}');
                            submitForm('manto_{{ values.controller}}');
                            }" />
                </td>
                <td>
                    <input name="image[{{key}}][Tipo]" id="image_{{key}}_Tipo" value="{{imagen.Type}}" type="hidden" />
                    {{ macro.input({'caption':'Título','visible':'1','varEnv':'0'},'field_title','text','image['~key~'][Title]','image_'~key~'_Title',imagen.Title,255,none) }}
                    {{ macro.input({'caption':'Nombre','visible':'1','varEnv':'0'},'field_title','text','image['~key~'][Name]','image_'~key~'_Name',imagen.Name,255,none) }}
                    {{ macro.select({'caption':'Mostrar pie de foto','visible':'1','varEnv':'0'},'field_title','image['~key~'][ShowCaption]','image_'~key~'_ShowCaption',none,imagen.ShowCaption.IDTipo,imagen.ShowCaption.fetchAll(none,0),'chzn-select',103)}}
                    <input type="button" value="Guardar cambios"
                        onclick="
                            $('#action_{{ values.controller }}').val('Imagen');
                            $('#accion_{{ values.controller }}').val('GuardarCambios');
                            $('#idImagenEnviar').val('{{key}}');
                            submitForm('manto_{{ values.controller}}');" />
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {# SOLAPA GALERIA #}
    {% if values.varEnvMod.galeria.hayGaleria == '1' %}
    <div id="tabs-galeria" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">

    </div>
    {% endif %}

    {# SOLAPA DOCUMENTOS #}
    <div id="tabs-documentos" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
    </div>

    {# SOLAPA URLS #}
    <div id="tabs-urls" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        {{ macro.select(atributos.LockUrlPrefix,'field_title',values.controller ~ '[LockUrlPrefix]',values.controller ~ '_LockUrlPrefix',none,datos.LockUrlPrefix.IDTipo,datos.LockUrlPrefix.fetchAll(none,0),'chzn-select',117)}}
        {% if datos.LockUrlPrefix.IDTipo == '1' %} {% set disabled = 'DISABLED' %} {% else %} {% set disabled = none %} {% endif %}
        {{ macro.input(atributos.UrlPrefix,'field_title','text',values.controller ~ '[UrlPrefix]',values.controller ~ '_UrlPrefix',datos.UrlPrefix,'255','CampoTextoLargo',112,disabled) }}
        {{ macro.select(atributos.LockSlug,'field_title',values.controller ~ '[LockSlug]',values.controller ~ '_LockSlug',none,datos.LockSlug.IDTipo,datos.LockSlug.fetchAll(none,0),'chzn-select',117)}}
        {% if datos.LockSlug.IDTipo == '1' %} {% set disabled = 'DISABLED' %} {% else %} {% set disabled = none %} {% endif %}
        {{ macro.input(atributos.Slug,'field_title','text',values.controller ~ '[Slug]',values.controller ~ '_Slug',datos.Slug,'255','CampoTextoLargo',112, disabled) }}
        {{ macro.input(atributos.UrlFriendly,'field_title','text',values.controller ~ '[UrlFriendly]',values.controller ~ '_UrlFriendly',datos.UrlFriendly,'255','CampoTextoLargo',112,'DISABLED') }}
        {{ macro.select(atributos.UrlHeritable,'field_title',values.controller ~ '[UrlHeritable]',values.controller ~ '_UrlHeritable',none,datos.UrlHeritable.IDTipo,datos.UrlHeritable.fetchAll(none,0),'chzn-select',117)}}
    </div>

    {# SOLAPA SITEMAP #}
    <div id="tabs-sitemap" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        {{ macro.select(atributos.ShowOnSitemap,'field_title',values.controller ~ '[ShowOnSitemap]',values.controller ~ '_ShowOnSitemap',none,datos.ShowOnSitemap.IDTipo,datos.ShowOnSitemap.fetchAll(none,0),'chzn-select',119)}}
        {{ macro.input(atributos.ImportanceSitemap,'field_title','text',values.controller ~ '[ImportanceSitemap]',values.controller ~ '_ImportanceSitemap',datos.ImportanceSitemap,'5','CampoTextoCorto',120) }}
        {{ macro.select(atributos.ChangeFreqSitemap,'field_title',values.controller ~ '[ChangeFreqSitemap]',values.controller ~ '_ChangeFreqSitemap',none,datos.ChangeFreqSitemap.IDTipo,datos.ChangeFreqSitemap.fetchAll(none,0),'chzn-select',121) }}
    </div>

    {# SOLAPA AUDITORIA #}
    <div id="tabs-auditoria" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        {{ macro.input(atributos.CreatedBy,'field_title','text',values.controller ~ '[CreatedBy]',values.controller ~ '_CreatedBy',datos.CreatedBy,none,none,107,'disabled') }}
        {{ macro.fecha(atributos.CreatedAt,'field_title',values.controller ~ '[CreatedAt]',values.controller ~ '_CreatedAt',datos.CreatedAt,'19','datepicker',108,'disabled') }}
        {{ macro.input(atributos.ModifiedBy,'field_title','text',values.controller ~ '[ModifiedBy]',values.controller ~ '_ModifiedBy',datos.ModifiedBy,none,none,107,'disabled') }}
        {{ macro.fecha(atributos.ModifiedAt,'field_title',values.controller ~ '[ModifiedAt]',values.controller ~ '_ModifiedAt',datos.ModifiedAt,'19','datepicker',108,'disabled') }}

        {{ macro.input(atributos.Deleted,'field_title','text',values.controller ~ '[Deleted]',values.controller ~ '_Deleted',datos.Deleted.Descripcion,none,none,106,'disabled') }}
        {% if datos.Deleted.IDTipo %}
            {{ macro.input(atributos.DeletedBy,'field_title','text',values.controller ~ '[DeletedBy]',values.controller ~ '_DeletedBy',datos.DeletedBy,none,none,107,'disabled') }}
            {{ macro.fecha(atributos.DeletedAt,'field_title',values.controller ~ '[DeletedAt]',values.controller ~ '_DeletedAt',datos.DeletedAt,'19','datepicker',108,'disabled') }}
        {% endif %}
    </div>
    {% endif %}
</div>


<script type="text/javascript">

function activaSolapa(solapa) {
    $("#solapaActiva").val(solapa);
}

function cargaGaleria(idDiv) {

    $('#'+idDiv).html("<iframe width='100%' height='380' scrolling='yes' style='border: 0px dotted grey;' src='{{app.path}}/CoreImagenes/list/{{values.controller}}/{{datos.Id}}'></iframe>");

}

function cargaDocumentos(idDiv) {

    $('#'+idDiv).html("<iframe width='100%' height='380' scrolling='yes' style='border: 0px dotted grey;' src='{{app.path}}/CoreDocumentos/list/{{values.controller}}/{{datos.Id}}'></iframe>");

}

</script>