{# _global/headerRight.html.twig #}

<div id="top_notification">
<img src="{{app.path}}/images/barraherramientas/guardar.png" alt="Guardar" title="Guardar">
<img src="{{app.path}}/images/barraherramientas/guardar.png" alt="Guardar" title="Guardar">
<img src="{{app.path}}/images/barraherramientas/guardar.png" alt="Guardar" title="Guardar">
<a href="{{app.path}}/Login">
    <img src="{{app.path}}/images/barraherramientas/guardar.png" alt="Cerrar Sesión" title="Cerrar Sesión">
</a>
</div>