{% import "_global/macros.html.twig" as macro %}

<!DOCTYPE HTML>
<html>

    <head>
    	{% include "_global/metaInformacion.html.twig" %}
	{% include values.twigCss %}

        <!-- Para que esté disponible el path de la app en todos los java scripts -->
        <script type="text/javascript">var appPath = "{{appPath}}";</script>

	{% include values.twigJs %}
    </head>

    <body id="theme-default" class="full_block"/>

        {% block izquierda %}
        <div id="left_bar">

            {% include "_global/menuIconosIzquierda.html.twig" %}
            {% include "_global/menuInferiorIzquierda.html.twig" %}
            {% include "_global/menuIzquierda.html.twig" %}

        </div>
        {% endblock %}

        <div class="page_title_user">
            {{ project.empresa}} - {{ project.title }} {% if user.IdPerfil.Id == '1' %}(Id:{{project.Id}}){% endif %}
	</div>

        <div id="container">

                <div id="header" class="blue_lin">
                    <div class="header_left">
                        <div class="logo">
                            <img src="{{app.path}}/images/logo.png"  alt="">
                        </div>
                    </div>

                    {% block cabeceraDerecha %}
                    <div class="header_right">
                    {% include "_global/headerRight.html.twig" %}
                    </div>
                    {% endblock %}
                </div>

                {% block navegador %}
                <div class="page_title">
                    {% include '_global/menuNavegador.html.twig' %}
                </div>
                {% endblock %}

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>

        </div>

        <div id="notificacion"></div>
        
        <div id="dialogoVarEnv" title="Propiedades del elemento"></div>
        <div id="dialogOrdenar" title="Cambiar orden"></div>
        
        {% if values._debugMode %}
        <div style="clear: both;">
            <pre>{{values._debugValues}}</pre>
        </div>
        {% endif %}

    </body>
</html>