{% import "_global/macros.html.twig" as macro %}

<!DOCTYPE HTML>
<html>

    <head>
    	{% include "_global/metaInformacion.html.twig" %}
	{% include values.twigCss %}

        <!-- Para que esté disponible el path de la app en todos los java scripts -->
        <script type="text/javascript">var appPath = "{{app.path}}";</script>

	{% include values.twigJs %}
    </head>

    <body id="theme-default" class="full_block"pcae/>

        {% block izquierda %}
        <div id="left_bar">

            {% include "_global/menuIconosIzquierda.html.twig" %}
            {% include "_global/menuInferiorIzquierda.html.twig" %}
            {% include "_global/menuIzquierda.html.twig" %}

        </div>
        {% endblock %}

        <div class="page_title_user">
            <form name="layoutForm" id="layoutForm" method="POST">
                <input name="controller" value ="index" type="hidden" />
                <input name="action" id="actionLayout" value="ChangeProjectUser" type="hidden"/>

                    <select class="projectsSelector" name="project" id="projectsSelector">
                    {% for key,value in projects %}
                        <option value="{{key}}" {% if key == project.name %} SELECTED{% endif %}>{{value.title}}</option>
                    {% endfor %}
                    </select>

                {% if user.IdPerfil.Id == '1' %}
                    <select class="usersSelector" name="user" id="usersSelector">
                    {% for usuario in user.fetchAll('Nombre',0) %}
                        <option value="{{usuario.Id}}" {% if usuario.Id == user.Id %} SELECTED{% endif %}>{{usuario.Value}}</option>
                    {% endfor %}
                    </select>
                {% else %}
                    <input name="user" value="{{user.Id}}" type="hidden" />
                    {{user.NombreApellidos}}&nbsp;&nbsp;
                {% endif %}

            </form>
	</div>

        <div id="container">

                <div id="header" class="blue_lin">
                    <div class="header_left">
                        <div class="logo">
                            <img src="{{app.path}}/images/logo.png"  alt="">
                        </div>
                    </div>

                    {% block cabeceraDerecha %}
                    <div class="header_right">
                    {% include "_global/headerRight.html.twig" %}
                    </div>
                    {% endblock %}
                </div>

                {% block navegador %}
                <div class="page_title">
                    {% include '_global/menuNavegador.html.twig' %}
                </div>
                {% endblock %}

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>

        </div>

        {% if values._debugMode %}
        <div style="clear: both;">
            <pre>{{values._debugValues}}</pre>
        </div>
        {% endif %}

    </body>
</html>