{# Template para los comandos Guardar y Borrar registro #}
{% if values.permisos['A'] %}
<a href="#" onclick="getElementById('accion_{{values.controller}}').value='Guardar'; submitForm('manto_{{ values.controller}}');" title="Guardar">
    <img src="{{app.path}}/images/barraherramientas/save_cmd.png" alt="Guardar" title="Guardar" />
</a>
{% endif %}

{% if values.permisos['B'] %}
<a href="#" onclick="if (!confirm('¿Desea borrar el registro?')) {return false;} else {getElementById('accion_{{values.controller}}').value='Borrar';} submitForm('manto_{{ values.controller}}');" title="Borrar">
    <img src="{{app.path}}/images/barraherramientas/trash_cmd.png" alt="Borrar" title="Borrar" />
</a>
{% endif %}
