{# _global/menuPrincipal.html.twig #}
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_tiposusuarios.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_usuarios.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_geu_perfiles.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_geu_usuarios.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_gs_ad.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_gs_geu.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_gs_t.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_listado.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_nuevo.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_t_direcciones.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_t_localidades.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_t_paises.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_t_provincias.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_t_terceros.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_t_tiposdevias.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_t_vias.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_vivienda.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>
<a href=""><img src="{{app.path}}/images/iconos//ico_ad_auxiliares.jpg" alt="" title="" /></a>