{# Description of  _global/menuNavegador.html.twig

    RENDERIZA EL MENU DE NAVEGACION QUE SE MUESTRA EN LA PARTE SUPERIOR
    ES EXTENDIDO POR _global/layout.html.twig
#}

{# author Sergio Pérez <sergio.perez@albatronic.com> #}
{# copyright Informática ALBATRONIC, SL #}
{# date 01.09.2012 19:12 #}

<span class="title_icon"><span class="list_image"></span></span>
<h3>
    <a href="{{app.path}}/Index">Home</a> | <img src="{{app.path}}/lang/{{idiomas.disponibles[idiomas.actual]}}.gif"/> {{ values.titulo }}
    {% if ((varEnvMod.translatable == 1) and (idiomas.disponibles|length > 1) )%}
        <div style="float: right;">
        {% for key,idioma in idiomas.disponibles %}
            {% if key != idiomas.actual %}
                <a href="{{app.path}}/{{values.controller}}/lang/{{key}}/{{values.datos.getPrimaryKeyMD5}}"><img src="{{app.path}}/lang/{{idioma}}.gif"/></a>
            {% endif %}
        {% endfor%}
        </div>
    {% endif %}
</h3>
