{# _global/menuIzquierda.html.twig #}

{% if values.enCurso['app'] %}
    {% set appEnCurso = values.enCurso.app %}
{% else %}
    {% set appEnCurso = values.menu.perteneceA %}
{% endif %}

<div id="sidebar">
    <div id="secondary_nav">

    {# MOSTRAR PRIMERO LA APLICACION EN CURSO CON MENU DESPLEGADO #}
    {% if values.enCurso['app'] %}
        <ul id="sidenav-select">
            <li><a href="#"><img class="iconoMenu" src="{{app.path}}/images/iconos/{{appEnCurso}}.png"/><span class="textoMenu">{{menu[appEnCurso].titulo}}</span><span class="up_down_arrow">&nbsp;</span></a>
                <ul class="acitem">
                {% for modulo in menu[appEnCurso].modulos %}
                    {% if modulo.publicar %}
                        <li><a href="{{app.path}}/{{modulo.controller}}"><span class="list-icon">&nbsp;</span>{{modulo.titulo}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif %}

    {# MUESTRO EL RESTO DE LAS APLICACIONES Y SUS MODULOS QUE TIENEN Publicar = 1 #}
    <ul id="sidenav" class="accordion_mnu collapsible">
    {% for key,aplicacion in menu %}

        {% if aplicacion.publicar and (key != appEnCurso) %}
            <li><a href="#"><img class="iconoMenu" src="{{app.path}}/images/iconos/{{key}}.png"/><span class="textoMenu">{{aplicacion.titulo}}</span><span class="up_down_arrow">&nbsp;</span></a>
            {#<li><a href="{{app.path}}/index/{{key}}"><span class="nav_icon blocks_images"></span> {{aplicacion.titulo}}<span class="up_down_arrow">&nbsp;</span></a>#}
                <ul class="acitem">
                {% for modulo in aplicacion.modulos %}
                    {% if modulo.publicar %}
                        <li><a href="{{app.path}}/{{modulo.controller}}"><span class="list-icon">&nbsp;</span>{{modulo.titulo}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        {% endif %}

    {% endfor %}
    </ul>

    </div>
</div>