<div style="text-align: center;"><h4>{{values.titulo}}</h4></div>

<div class="grid_container">
    <div class="grid_12 full_block">
        <div class="widget_wrap">
        <div class="widget_content">
	<form name="manto_variablesEnv" id="manto_variablesEnv" action="" method="POST" class="form_container left_label">
		<input name="controller" value="CoreVariables" type="hidden" />
                <input name="action" id="action_{{values.controller}}" value="Edit" type="hidden" />
		<input name="accion" id="accion_{{values.controller}}" value="Guardar" type="hidden" />
                <input name="modulo" value="{{values.modulo}}" type="hidden" />
                <input name="columna" value="{{values.columna}}" type="hidden" />
                <input name="archivoYml" value="{{values.archivoYml}}" type="hidden" />

		<ul>
                    {{values.variables}}
		</ul>
                <input name="accion" value="Guardar" type="submit" />
	</form>
        </div>
        </div>
    </div>
</div>