{% import "_global/macros.html.twig" as macro %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-ES" lang="es-ES">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>.: {{ app.name }} {% block title %} {{ titulo }} {% endblock %}</title>
        <link rel="shortcut icon" href="favicon.ico" />

        <!-- Para que esté disponible el path de la app en todos los java scripts -->
        <script type="text/javascript">var appPath = "{{app.path}}";</script>

<link href="{{app.path}}/css/reset.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/layout.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/themes.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/typography.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/styles.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/shCore.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/jquery.jqplot.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/data-table.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/form.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/ui-elements.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/wizard.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/sprite.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/gradient.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/AEcss.css" rel="stylesheet" type="text/css" />
<link href="{{app.path}}/css/jquery/jquery.ui.all.css" rel="stylesheet" type="text/css" />

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="{{app.path}}/css/ie/ie7.css" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="{{app.path}}/css/ie/ie8.css" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="{{app.path}}/css/ie/ie9.css" />
<![endif]-->

        <script type="text/javascript" src="{{app.path}}/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.bgiframe-2.1.2.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.core.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="{{app.path}}/js/jquery/i18n/jquery.ui.datepicker-es.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.tabs.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.mouse.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.draggable.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.position.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.resizable.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.dialog.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery.autocomplete.min.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/jquery/jquery.ui.accordion.js"></script>
        <script type="text/javascript" src="{{app.path}}/js/AEscripts.js"></script>

    </head>
    <body style="background:#eeeeee;">
        <div id="contenedor_popup">
            <div id="contenido">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div id="notificacion"></div>

        <div class="pieizq">
            <div class="debug">
            {% if values._debugMode %}
                <pre>{{values._debugValues}}</pre>
            {% endif %}
            </div>
        </div>
    </body>
</html>
