{# Description Login/login.htmltwig  #}

{# author Sergio Pérez <sergio.perez@albatronic.com> #}
{# copyright Informática ALBATRONIC, SL #}
{# date 23-agosto-2012 13:46 #}

{% extends "Login/index.html.twig" %}

{% block contenido %}

<form name="login" action="" method="POST">

    <input name="controller" value="Login" type ="hidden">
    <input name="action" value="Login" type="hidden">

    <div class="login_form">
        <h3 class="blue_d">{{values.titulo}}</h3>
        <ul>
            <li class="login_mensaje_error">
                {{values.mensaje}}
            </li>
            <li class="login_app">
                <select name="project" id="project" class="chzn-select" style="width:280px">
                    {% for key,project in values.projects %}
                        <option value="{{key}}">{{project.title}}</option>
                    {% endfor %}
                </select>
            </li>
            <li class="login_user">
                <input name="user" id="user" value="{{values.user}}" type="text">
            </li>
            <li class="login_pass">
                <input name="password" id="password" value="{{values.password}}" type="password">
            </li>
        </ul>
    </div>

    <input class="login_btn blue_lgel" name="" value="Enviar" type="submit">

    <ul class="login_opt_link">
        <li><a href="{{app.path}}/Login/Forgot">Olvidó su Contraseña?</a></li>
    </ul>

</form>

<script language='JavaScript' type='text/javascript'>
    document.getElementById('user').focus();
</script>

{% endblock %}

