{#
  Module: CpanPerfiles
  Document : modules\CpanPerfiles\list.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 08.12.2012 01:21:59
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}

<div class='Listado'>

    {% include '_global/paginacion.html.twig' with {'filter': values.listado.filter, 'controller': values.controller, 'position': 'izq'}%}
    
    <div id="Listado">
    <table width='100%'>
        <tr class='Titulos'>
            <td width='16px'>&nbsp;</td>
            <td class='Item'>Perfil</td>
        </tr>

        <tbody class='Cuerpo'>
        {% for key,objeto in values.listado.data %}
            {% if objeto.Id != 1 or user.IdPerfil.Id == 1 %}
            <tr>
                <td>
                    <a href='{{app.path}}/{{values.controller}}/Edit/{{objeto.getPrimaryKeyMD5}}' title='Editar ...'>
                        <img src="{{app.path}}/images/botoneditar.png" width="16px" height="16px" />
                    <a>
                </td>
                <td class='Item'>{{objeto.Perfil}}</td>
            </tr>
            {% endif %}
            {% else %}
            <tr><td colspan='8'>No hay información que cumpla esos criterios</td></tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
</div>
{% endblock %}