{#
    index/index.html.twig

    MUESTRA LOS LINKS A LAS APLICACIONES Y MODULOS DISPONIBLES PARA EL USUARIO
#}

{% extends layout %}

{% block title parent() ~ " - Inicio" %}

{% block content %}

{% if values.errores %}
    {{ values.errores}}
{% endif %}

{% if values.menu.tipo == 'apps' %}

    {# MUESTRO LAS APLICACIONES #}
    {% for key,value in values.menu.apps %}
        <a href="{{app.path}}/index/app/{{key}}" class="iconosIndex">
            <img src="{{app.path}}/images/iconos/{{key}}XL.png" alt="{{value.titulo}}" title="{{value.titulo}}" />
            <span>{{value.titulo}}</span>
        </a>
    {% endfor %}

{% else %}

    {# MUESTRO LOS MODULOS DE LA APLICACION EN CURSO #}
    {% for key,value in values.menu.modulos %}
        <a href="{{app.path}}/{{value.controller}}" class="listadoApp">
            {{value.titulo}}
        </a>
    {% endfor %}

{% endif %}

{% endblock %}