{#
    index/index.html.twig

    MUESTRA LOS LINKS A LAS APLICACIONES Y MODULOS DISPONIBLES PARA EL USUARIO
#}

{% extends layout %}

{% block title parent() ~ " - Inicio" %}

{% block content %}

{% if values.menu.tipo == 'apps' %}

    {# MUESTROS LAS APLICACIONES #}
    {% for key,value in values.menu.apps %}
        <a href="{{app.path}}/index/{{key}}"><img src="{{app.path}}/images/iconos/{{key}}.jpg" alt="{{value.titulo}}" title="{{value.titulo}}" /></a>
    {% endfor %}

{% else %}

    {# MUESTROS LOS MODULOS DE LA APLICACION EN CURSO #}
    {% for key,value in values.menu.modulos %}
        <a href="{{app.path}}/{{value.controller}}"><img src="{{app.path}}/images/iconos/{{key}}.jpg" alt="{{value.titulo}}" title="{{value.titulo}}" /></a>
    {% endfor %}

{% endif %}

{% endblock %}