{#
    VARIABLES WEB COMUNES A TODOS LOS MODULOS +
    MAS LAS ESPECIFICAS DE CADA MODULO QUE ESTAN DEFINIDAS
    EN modules/NOMBREMODULO/varWeb.yml

    author Sergio Pérez <sergio.perez@albatronic.com>
    copyright Informática ALBATRONIC, SL
    date 7-SEP-2012 18:02
#}


{% extends 'CpanVariables/form.html.twig' %}

{% block template %}

{# ----------------------------------------------------------------------------------------------------#}

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-global">Globales [global]</a></li>
        {% if values.datos.especificas %}
        <li class="ui-state-default ui-corner-top"><a href="#tabs-especificas">Específicas [especificas]</a></li>
        {% endif %}
    </ul>

    {# VARIABLES WEB GLOBALES A TODOS LOS MODULOS #}
    <div id="tabs-global" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.input(
            {'caption': 'linkFromColumn','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[global][linkFromColumn]',
            'datos_global_linkFromColumn',
            values.datos.global.linkFromColumn,
            '50',
            'CampoTextoCorto'
            )
        }}
        {{ macro.input(
            {'caption': 'linktoEntity','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[global][linkToEntity]',
            'datos_global_linkToEntity',
            values.datos.global.linkToEntity,
            '50',
            'CampoTextoCorto'
            )
        }} 
        {{ macro.input(
            {'caption': 'linkToColumn','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[global][linkToColumn]',
            'datos_global_linkToColumn',
            values.datos.global.linkToColumn,
            '50',
            'CampoTextoCorto'
            )
        }}
            
    </div>

    {# VARIABLES WEB ESPECIFICAS AL MODULO EN CURSO #}
    {% if values.datos.especificas %}
    <div id="tabs-especificas" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {% for nombre,atributos in values.datos.especificas %}
            {% if user.IdPerfil.Id == '1' %} {% set prefijo = '['~nombre~']' %} {% else %} {% set prefijo = '' %} {% endif %}
            {% if atributos.values is iterable %}
                {{ macro.select(
                    {'caption': prefijo~' '~atributos.caption,'visible':'1','varEnv':'0','updatable':'1'},
                    'field_title',
                    'datos[especificas]['~nombre~']',
                    'datos_especificas_'~nombre,
                    none,
                    atributos.value,
                    atributos.values,
                    'chzn-select','22')
                }}            
            {% else %}
                {{ macro.input(
                    {'caption': prefijo~' '~atributos.caption,'visible':'1','varEnv':'0'},
                    'field_title',
                    'text',
                    'datos[especificas]['~nombre~']',
                    'datos_especificas_'~nombre,
                    atributos.value,
                    '50',
                    'CampoTextoCorto'
                    )
                }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock %}