{#
    VARIABLES DE ENTORNO COMUNES A TODOS LOS MODULOS. VIENEN EN values.datos +
    LAS DE LAS COLUMNAS DE LA ENTIDAD CONCRETA. VIENEN EN values.datos.columns +
    LAS ESPECIFICAS DE CADA MODULO QUE ESTAN DEFINIDAS EN modules/NOMBREMODULO/varEnv.yml. VIENEN EN values.datos.especificas +
    LAS DE CONTROL DE VISIBILIDAD DE LAS VARIABLES WEB. VIENEN EN values.datos.showVarWeb


    author Sergio Pérez <sergio.perez@albatronic.com>
    copyright Informática ALBATRONIC, SL
    date 7-SEP-2012 18:02
#}

{% extends 'CpanVariables/form.html.twig' %}

{% block template %}

{# DEFINICION DE CONSTANTE CUYOS VALORES PUEDEN SER ADQUIRIDOS POR LOS CAMPOS ------------------------ #}

{% set nImagenes = 3 %}
{% set ValoresSN = { '0':{'Id':'0','Value':'No'}, '1':{'Id':'1','Value':'Si'} }  %}
{% set ValoresIzqDcha = { '0':{'Id':'0','Value':'Izquierda'}, '1':{'Id':'1','Value':'Derecha'} }  %}

{# ----------------------------------------------------------------------------------------------------#}

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-global">Global</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-urlAmigable">URL's</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-siteMap">SiteMap</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-meta">Meta</a></li>

        {% for i in 1..nImagenes %}
        <li class="ui-state-default ui-corner-tope"><a href="#tabs-imagen{{i}}">Imagen {{i}}</a></li>
        {% endfor %}

        <li class="ui-state-default ui-corner-top"><a href="#tabs-galeria">Galería</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-columnas">Columnas</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-especificas">Específicas</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-controller">Controller</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-editorTiny">Editor Tiny</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-varWeb">VW</a></li>
    </ul>

    {# GLOBAL #}
    <div id="tabs-global" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.select({'caption':'[isModuleRoot] Es el módulo padre','visible':'1','varEnv':'0'},'field_title','datos[isModuleRoot]','datos_isModuleRoot',none,values.datos.isModuleRoot,ValoresSN,'chzn-select')}}
        {{ macro.input({'caption':'[numMaxRecords] Número máximo registros','visible':'1','varEnv':'0'},'field_title','text','datos[numMaxRecords]','datos_numMaxRecords',values.datos.numMaxRecords,'15','CampoTextoCorto','1') }}
        {{ macro.select({'caption':'[showNumberVisits] Mostrar número visitas','visible':'1','varEnv':'0'},'field_title','datos[showNumberVisits]','datos_showNumberVisits',none,values.datos.showNumberVisits,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[withImages] Hay Imágenes','visible':'1','varEnv':'0'},'field_title','datos[withImages]','datos_withImages',none,values.datos.withImages,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[withGalery] Hay Galeria','visible':'1','varEnv':'0'},'field_title','datos[withGalery]','datos_withGalery',none,values.datos.withGalery,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[withDocuments] Hay Documentos','visible':'1','varEnv':'0'},'field_title','datos[withDocuments]','datos_withDocuments',none,values.datos.withDocuments,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[withVideos] Hay Videos','visible':'1','varEnv':'0'},'field_title','datos[withVideos]','datos_withVideos',none,values.datos.withVideos,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[withAudios] Hay Audios','visible':'1','varEnv':'0'},'field_title','datos[withAudios]','datos_withAudios',none,values.datos.withAudios,ValoresSN,'chzn-select')}}
        {{ macro.input({'caption':'[maxSizes][image] Tamaño máximo imagen (bytes)','visible':'1','varEnv':'0'},'field_title','text','datos[maxSizes][image]','datos_maxSizes_image',values.datos.maxSizes.image,'10','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[maxSizes][document] Tamaño máximo documento (bytes)','visible':'1','varEnv':'0'},'field_title','text','datos[maxSizes][document]','datos_maxSizes_document',values.datos.maxSizes.document,'10','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[maxSizes][video] Tamaño máximo video (bytes)','visible':'1','varEnv':'0'},'field_title','text','datos[maxSizes][video]','datos_maxSizes_video',values.datos.maxSizes.video,'10','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[maxSizes][audio] Tamaño máximo Audio (bytes)','visible':'1','varEnv':'0'},'field_title','text','datos[maxSizes][audio]','datos_maxSizes_audio',values.datos.maxSizes.audio,'10','CampoTextoCorto','1') }}
    </div>

    {# URL AMIGABLE #}
    <div id="tabs-urlAmigable" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.input({'caption':'[fieldGeneratorUrlFriendly] Campo generador URL amigable','visible':'1','varEnv':'0'},'field_title','text','datos[fieldGeneratorUrlFriendly]','datos_fieldGeneratorUrlFriendly',values.datos.fieldGeneratorUrlFriendly,'15','CampoTextoCorto','1') }}
        {{ macro.select({'caption':'[showSlugManagement] Mostrar gestión Slug','visible':'1','varEnv':'0'},'field_title','datos[showSlugManagement]','datos_showSlugManagement',none,values.datos.showSlugManagement,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[showUrlFriendly] Mostrar Url amigable','visible':'1','varEnv':'0'},'field_title','datos[showUrlFriendly]','datos_showUrlFriendly',none,values.datos.showUrlFriendly,ValoresSN,'chzn-select')}}
    </div>

    {# MOSTAR GESTION SITEMAP #}
    <div id="tabs-siteMap" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.select({'caption':'[showSiteMapManagement][show] Mostrar gestión Sitemap','visible':'1','varEnv':'0'},'field_title','datos[showSiteMapManagement][show]','datos_showSiteMapManagement_show',none,values.datos.showSiteMapManagement.show,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[showSiteMapManagement][showAtSiteMap] Mostrar en Sitemap','visible':'1','varEnv':'0'},'field_title','datos[showSiteMapManagement][showAtSiteMap]','datos_showSiteMapManagement_showAtSiteMap',none,values.datos.showSiteMapManagement.showAtSiteMap,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[showSiteMapManagement][showImportanceSiteMap] Mostrar importancia Sitemap','visible':'1','varEnv':'0'},'field_title','datos[showSiteMapManagement][showImportanceSiteMap]','datos_showSiteMapManagement_showImportanceSiteMap',none,values.datos.showSiteMapManagement.showImportanceSiteMap,ValoresSN,'chzn-select')}}
        {{ macro.input({'caption':'[showSiteMapManagement][frecuencyChange] Frecuencia de cambio','visible':'1','varEnv':'0'},'field_title','text','datos[showSiteMapManagement][frecuencyChange]','datos_showSiteMapManagement_frecuencyChange',values.datos.showSiteMapManagement.frecuencyChange,'15','CampoTextoCorto','1') }}
    </div>

    {# MOSTAR GESTION META #}
    <div id="tabs-meta" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.input({'caption':'[fieldGeneratorMetatagTitle] Campo generador Metatag Title','visible':'1','varEnv':'0'},'field_title','text','datos[fieldGeneratorMetatagTitle]','datos_fieldGeneratorMetatagTitle',values.datos.fieldGeneratorMetatagTitle,'15','CampoTextoCorto','1') }}
        {{ macro.select({'caption':'[showMetaManagement][show] Mostrar gestión Meta','visible':'1','varEnv':'0'},'field_title','datos[showMetaManagement][show]','datos_showMetaManagement_show',none,values.datos.showMetaManagement.show,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[showMetaManagement][titlePosition] Posición del title','visible':'1','varEnv':'0'},'field_title','datos[showMetaManagement][titlePosition]','datos_showMetaManagement_titlePosition',none,values.datos.showMetaManagement.titlePosition,ValoresIzqDcha,'chzn-select')}}
        {{ macro.select({'caption':'[showMetaManagement][titleSimple] Title Simple','visible':'1','varEnv':'0'},'field_title','datos[showMetaManagement][titleSimple]','datos_showMetaManagement_titleSimple',none,values.datos.showMetaManagement.titleSimple,ValoresSN,'chzn-select')}}
    </div>

    {# IMAGENES #}
    {% for i in 1..nImagenes %}
    <div id="tabs-imagen{{i}}" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.select({'caption':'[images]['~i~'][visible] Visible','visible':'1','varEnv':'0'},'field_title','datos[images]['~i~'][visible]','datos_images_' ~ i ~ '_visible',none,values.datos.images[i].visible,ValoresSN,'chzn-select')}}
        {{ macro.input({'caption':'[images]['~i~'][caption] Caption','visible':'1','varEnv':'0'},'field_title','text','datos[images]['~i~'][caption]','datos_images_'~i~'_caption',values.datos.images[i].caption,'15','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[images]['~i~'][width] Width','visible':'1','varEnv':'0'},'field_title','text','datos[images]['~i~'][width]','datos_images_'~i~'_width',values.datos.images[i].width,'15','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[images]['~i~'][height] Height','visible':'1','varEnv':'0'},'field_title','text','datos[images]['~i~'][height]','datos_images_'~i~'_height',values.datos.images[i].height,'15','CampoTextoCorto','1') }}
        {{ macro.select({'caption':'[images]['~i~'][generateThumbnail] Generar Thumbnail','visible':'1','varEnv':'0'},'field_title','datos[images]['~i~'][generateThumbnail]','datos_images_' ~ i ~ 'generateThumbnail',none,values.datos.images[i].generateThumbnail,ValoresSN,'chzn-select')}}
        {{ macro.input({'caption':'[images]['~i~'][widthThumbnail] Anchura Thumbnail','visible':'1','varEnv':'0'},'field_title','text','datos[images]['~i~'][widthThumbnail]','datos_images_' ~ i ~ '_widthThumbnail',values.datos.images[i].widthThumbnail,'15','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[images]['~i~'][heightThumbnail] Altura Thumbnail','visible':'1','varEnv':'0'},'field_title','text','datos[images]['~i~'][heightThumbnail]','datos_images_' ~ i ~ '_heightThumbnail',values.datos.images[i].heightThumbnail,'15','CampoTextoCorto','1') }}
    </div>
    {% endfor %}

    {# GALERIA #}
    <div id="tabs-galeria" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.input({'caption':'[galery][maxWidthImage] Anchura máxima imágenes','visible':'1','varEnv':'0'},'field_title','text','datos[galery][maxWidthImage]','datos_galery_maxWidthImage',values.datos.galery.maxWidthImage,'15','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[galery][maxHeightImage] Altura máxima imágenes','visible':'1','varEnv':'0'},'field_title','text','datos[galery][maxHeightImage]','datos_galery_maxHeightImage',values.datos.galery.maxHeightImage,'15','CampoTextoCorto','1') }}
        {{ macro.select({'caption':'[galery][generateThumbnail] Generar Thumbnail','visible':'1','varEnv':'0'},'field_title','datos[galery][generateThumbnail]','datos_galery_generateThumbnail',none,values.datos.galery.generateThumbnail,ValoresSN,'chzn-select')}}
        {{ macro.input({'caption':'[galery][widthThumbnail] Anchura Thumbnail','visible':'1','varEnv':'0'},'field_title','text','datos[galery][widthThumbnail]','datos_galery_widthThumbnail',values.datos.galery.widthThumbnail,'15','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[galery][heightThumbnail] Altura Thumbnail','visible':'1','varEnv':'0'},'field_title','text','datos[galery][heightThumbnail]','datos_galery_heightThumbnail',values.datos.galery.heightThumbnail,'15','CampoTextoCorto','1') }}
    </div>

    {# VARIABLES DE ENTORNO DE CADA COLUMNA DE LA ENTIDAD DE DATOS #}
    <div id="tabs-columnas" class="ui-tabs-panel ui-widget-content ui-corner-bottom">

        <div id="accordion" style="margin-top:10px;">
            {% for columna,variables in values.datos.columns %}
                <h3 style="{% if (variables.visible) %} color: blue; font-weight: bold; {% endif %}">
                    [columns][{{columna}}] :: [{{variables.caption}} = {{variables.default }}] [permission: {{variables.permission }}]
                </h3>
                <div>

                    {% set hayListaValores = (variables.listaValores is iterable) %}

                    {% for variable,valor in variables %}
                        {% if variable != 'listaValores' %}
                        <p>
                        {% if ( (hayListaValores and (variable == 'default') ) or ( (variable == 'visible') or (variable == 'updatable') ) ) %}
                            {% if (variable == 'default') %}
                                {% set listaValores = variables.listaValores %}
                            {% else %}
                                {% set listaValores = ValoresSN %}
                            {% endif %}
                            {{ macro.select(
                                {'caption':variable,'visible':'1','varEnv':'0'},
                                'field_title',
                                'datos[columns]['~columna~']['~variable~']',
                                'datos_columns_' ~ columna ~ '_'~ variable,
                                none,
                                valor,
                                listaValores,
                                'chzn-select'
                                )
                            }}
                        {% else %}
                            {{ macro.input(
                                {'caption':variable,'visible':'1','varEnv':'0'},
                                'field_title',
                                'text',
                                'datos[columns]['~columna~']['~variable~']',
                                'datos_columns_' ~ columna ~ '_'~ variable,
                                valor,
                                '255',
                                'CampoTextoCorto',
                                '1'
                                )
                            }}
                        {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    </div>

    {# VARIABLES DE ENTORNO ESPECIFICAS AL MODULO EN CURSO nombreModulo/varEnv.yml #}
    <div id="tabs-especificas" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {% for nombre,atributos in values.datos.especificas %}
            {{ macro.input(
                {'caption':'[especificas]['~nombre~'] '~atributos.caption,'visible':'1','varEnv':'0'},
                'field_title',
                'text',
                'datos[especificas]['~nombre~']',
                'datos_especificas_'~nombre,
                atributos.value,
                '50',
                'CampoTextoCorto'
                )
            }}
        {% endfor %}
    </div>

    {# CONTROLLER #}
    <div id="tabs-controller" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.input({'caption':'[controller] Controller','visible':'1','varEnv':'0'},'field_title','text','datos[controller]','datos_controller',values.datos.controller,'50','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[action] Action','visible':'1','varEnv':'0'},'field_title','text','datos[action]','datos_action',values.datos.action,'50','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[template] Template','visible':'1','varEnv':'0'},'field_title','text','datos[template]','datos_template',values.datos.template,'50','CampoTextoCorto','1') }}
        {{ macro.input({'caption':'[parametros] Parametros','visible':'1','varEnv':'0'},'field_title','text','datos[parametros]','datos_parametros',values.datos.parametros,'50','CampoTextoCorto','1') }}
     </div>

    {# EDITOR TINY #}
    <div id="tabs-editorTiny" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {{ macro.select({'caption':'[editorTiny][biu] Bold,Italic,Underline','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][bui]','datos_editorTiny_bui',none,values.datos.editorTiny.bui,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][alignment] Alineación','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][alignment]','datos_editorTiny_alignment',none,values.datos.editorTiny.alignment,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][lists] Listas','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][lists]','datos_editorTiny_lists',none,values.datos.editorTiny.lists,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][links] Enlaces','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][links]','datos_editorTiny_links',none,values.datos.editorTiny.links,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][images] Imágenes','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][images]','datos_editorTiny_images',none,values.datos.editorTiny.images,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][preview] Vista preliminar','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][preview]','datos_editorTiny_preview',none,values.datos.editorTiny.preview,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][colors] Colores','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][colors]','datos_editorTiny_colors',none,values.datos.editorTiny.colors,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][tables] Tablas','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][tables]','datos_editorTiny_tables',none,values.datos.editorTiny.tables,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][superIndex] Super/sub índices','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][superIndex]','datos_editorTiny_superIndex',none,values.datos.editorTiny.superIndex,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][symbols] Símbolos','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][symbols]','datos_editorTiny_symbols',none,values.datos.editorTiny.symbols,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][media] Media','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][media]','datos_editorTiny_media',none,values.datos.editorTiny.media,ValoresSN,'chzn-select')}}
        {{ macro.select({'caption':'[editorTiny][fullMode] Pantalla completa','visible':'1','varEnv':'0'},'field_title','datos[editorTiny][fullMode]','datos_editorTiny_fullMode',none,values.datos.editorTiny.fullMode,ValoresSN,'chzn-select')}}
    </div>

    {# CONTROL VISIBILIDAD VARIABLES WEB #}
    <div id="tabs-varWeb" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <h5>Globales</h5>
        {% for nombre,valor in values.datos.showVarWeb.globales %}
            {{ macro.select({'caption':'Es visible [showVarWeb][globales]['~nombre~']','visible':'1','varEnv':'0'},'field_title','datos[showVarWeb][globales]['~nombre~']','datos_showVarWeb_globales_'~nombre,none,valor,ValoresSN,'chzn-select')}}
        {% endfor %}

        <h5>Específicas</h5>
        {% for nombre,valor in values.datos.showVarWeb.especificas %}
            {{ macro.select({'caption':'Es visible [showVarWeb][especificas]['~nombre~']','visible':'1','varEnv':'0'},'field_title','datos[showVarWeb][especificas]['~nombre~']','datos_showVarWeb_especificas_'~nombre,none,valor,ValoresSN,'chzn-select')}}
        {% endfor %}
    </div>
</div>

{% endblock %}