{#
    VARIABLES WEB COMUNES A TODOS LOS MODULOS +
    MAS LAS ESPECIFICAS DE CADA MODULO QUE ESTAN DEFINIDAS
    EN modules/NOMBREMODULO/varWeb.yml

    author Sergio Pérez <sergio.perez@albatronic.com>
    copyright Informática ALBATRONIC, SL
    date 7-SEP-2012 18:02
#}


{% extends 'CpanVariables/form.html.twig' %}

{% block template %}

{# DEFINICION DE CONSTANTE CUYOS VALORES PUEDEN SER ADQUIRIDOS POR LOS CAMPOS ------------------------ #}

{% set CriteriosOrdenNoticias = { 
        '0':{'Id':'SortOrder ASC','Value':'Orden a-z'}, 
        '1':{'Id':'SortOrder DESC','Value':'Orden z-a'},
        '2':{'Id':'PublishedAt ASC','Value':'Fecha Publicación a-z'}, 
        '3':{'Id':'PublishedAt DESC','Value':'Fecha Publicación z-a'},
    }  
%}

{# ----------------------------------------------------------------------------------------------------#}

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-global">Globales</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-especificas">Específicas</a></li>
    </ul>

    {# VARIABLES WEB GLOBALES A TODOS LOS MODULOS #}
    <div id="tabs-global" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {% if user.IdPerfil == '1' %} {% set prefijo = '[globales][vwglobal1]' %} {% else %} {% set prefijo = '' %} {% endif %}
        {{ macro.input(
            {'caption': prefijo~' Var Web Global1','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[globales][vwglobal1]',
            'datos_globales_vwglobal1',
            values.datos.globales.vwglobal1,
            '50',
            'CampoTextoCorto'
            )
        }}

        {{ macro.input(
            {'caption': 'linkFromColumn','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[linkFromColumn]',
            'datos_linkFromColumn',
            values.datos.linkFromColumn,
            '50',
            'CampoTextoCorto'
            )
        }}
        {{ macro.input(
            {'caption': 'linktoEntity','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[linkToEntity]',
            'datos_linkToEntity',
            values.datos.linkToEntity,
            '50',
            'CampoTextoCorto'
            )
        }} 
        {{ macro.input(
            {'caption': 'linkToColumn','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[linkToColumn]',
            'datos_linkToColumn',
            values.datos.linkToColumn,
            '50',
            'CampoTextoCorto'
            )
        }}

        {{ macro.select(
            {'caption': 'CriterioOrdenNoticias','visible':'1','varEnv':'0','updatable':'1'},
            'field_title',
            'datos[CriterioOrdenNoticias]',
            'datos_CriterioOrdenNoticias',
            none,
            values.datos.CriterioOrdenNoticias,
            CriteriosOrdenNoticias,
            'chzn-select','22')
        }}            
        {{ macro.input(
            {'caption': 'NumNoticiasMostrarHome','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[NumNoticiasMostrarHome]',
            'datos_NumNoticiasMostrarHome',
            values.datos.NumNoticiasMostrarHome,
            '50',
            'CampoTextoCorto'
            )
        }}
        {{ macro.input(
            {'caption': 'NumNoticiasPorPagina','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[NumNoticiasPorPagina]',
            'datos_NumNoticiasPorPagina',
            values.datos.NumNoticiasPorPagina,
            '50',
            'CampoTextoCorto'
            )
        }}
        {{ macro.input(
            {'caption': 'NumContenidosPorPaginaListado','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[NumContenidosPorPaginaListado]',
            'datos_NumContenidosPorPaginaListado',
            values.datos.NumContenidosPorPaginaListado,
            '50',
            'CampoTextoCorto'
            )
        }}
        {{ macro.input(
            {'caption': 'NumContenidosPorPaginaDesarrollado','visible':'1','varEnv':'0'},
            'field_title',
            'text',
            'datos[NumContenidosPorPaginaDesarrollado]',
            'datos_NumContenidosPorPaginaDesarrollado',
            values.datos.NumContenidosPorPaginaDesarrollado,
            '50',
            'CampoTextoCorto'
            )
        }}
    </div>

    {# VARIABLES WEB ESPECIFICAS AL MODULO EN CURSO #}
    <div id="tabs-especificas" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        {% for nombre,atributos in values.datos.especificas %}{{nombre}}
            {% if user.IdPerfil == '1' %} {% set prefijo = '[especificas]['~nombre~']' %} {% else %} {% set prefijo = '' %} {% endif %}
            {{ macro.input(
                {'caption':prefijo~' '~atributos.caption,'visible':'1','varEnv':'0'},
                'field_title',
                'text',
                'datos[especificas]['~nombre~']',
                'datos_especificas_'~nombre,
                atributos.value,
                '50',
                'CampoTextoCorto'
                )
            }}
        {% endfor %}
    </div>

</div>

{% endblock %}