{#
  Module: GconSecciones
  Document : modules\GconSecciones\fields.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 30.10.2012 18:44:57
#}
Nivel Jerárquico {{datos.NivelJerarquico}}
{{ macro.input(atributos.Titulo,'field_title','text',values.controller ~ '[Titulo]',values.controller ~ '_Titulo',datos.Titulo,'255','CampoTextoLargo','1') }}
{{ macro.input(atributos.Subtitulo,'field_title','text',values.controller ~ '[Subtitulo]',values.controller ~ '_Subtitulo',datos.Subtitulo,'255','CampoTextoLargo','2') }}
{{ macro.textarea(atributos.Introduccion,'field_title',values.controller ~ '[Introduccion]',values.controller ~ '_Introduccion',datos.Introduccion,none,none,'textarea','3')}}
{{ macro.input(atributos.MostrarTitulo,'field_title','checkbox',values.controller ~ '[MostrarTitulo]',values.controller ~ '_MostrarTitulo',datos.MostrarTitulo.IDTipo,'255','CampoTextoLargo','12') }}
{{ macro.input(atributos.MostrarSubtitulo,'field_title','checkbox',values.controller ~ '[MostrarSubtitulo]',values.controller ~ '_MostrarSubtitulo',datos.MostrarSubtitulo.IDTipo,'255','CampoTextoLargo','12') }}
{{ macro.input(atributos.MostrarIntroduccion,'field_title','checkbox',values.controller ~ '[MostrarIntroduccion]',values.controller ~ '_MostrarIntroduccion',datos.MostrarIntroduccion.IDTipo,'255','CampoTextoLargo','12') }}
{{ macro.input(atributos.MostrarSubsecciones,'field_title','checkbox',values.controller ~ '[MostrarSubsecciones]',values.controller ~ '_MostrarSubsecciones',datos.MostrarSubsecciones.IDTipo,'255','CampoTextoLargo','12') }}
{{ macro.select(atributos.ModoMostrarContenidos,'field_title',values.controller ~ '[ModoMostrarContenidos]',values.controller ~ '_ModoMostrarContenidos',none,datos.ModoMostrarContenidos.ModoMostrarContenidos,datos.ModoMostrarContenidos.fetchAll(none,0),'chzn-select','22')}}
{{ macro.select(atributos.CriterioOrdenContenidosHijos,'field_title',values.controller ~ '[CriterioOrdenContenidosHijos]',values.controller ~ '_CriterioOrdenContenidosHijos',none,datos.CriterioOrdenContenidosHijos.CriterioOrdenContenidosHijos,datos.CriterioOrdenContenidosHijos.fetchAll(none,0),'chzn-select','23')}}

<div id="accordion" style="margin-left:60px; width: 70%;">
    <h3{% if (datos.MostrarEnMenu1.IDTipo == '1') %} style="font-weight: bold;"{% endif %}>{{atributos.MostrarEnMenu1.caption}}</h3>
    <div>
        <p>
        {{ macro.input(atributos.MostrarEnMenu1,'field_title','checkbox',values.controller ~ '[MostrarEnMenu1]',values.controller ~ '_MostrarEnMenu1',datos.MostrarEnMenu1.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.EtiquetaWeb1,'field_title','text',values.controller ~ '[EtiquetaWeb1]',values.controller ~ '_EtiquetaWeb1',datos.EtiquetaWeb1,'255','CampoTextoLargo','13') }}
        </p>
    </div>
    <h3{% if (datos.MostrarEnMenu2.IDTipo == '1') %} style="font-weight: bold;"{% endif %}>{{atributos.MostrarEnMenu2.caption}}</h3>
    <div>
        <p>
        {{ macro.input(atributos.MostrarEnMenu2,'field_title','checkbox',values.controller ~ '[MostrarEnMenu2]',values.controller ~ '_MostrarEnMenu2',datos.MostrarEnMenu2.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.EtiquetaWeb2,'field_title','text',values.controller ~ '[EtiquetaWeb2]',values.controller ~ '_EtiquetaWeb2',datos.EtiquetaWeb2,'255','CampoTextoLargo','13') }}
        </p>
    </div>
    <h3{% if (datos.MostrarEnMenu3.IDTipo == '1') %} style="font-weight: bold;"{% endif %}>{{atributos.MostrarEnMenu3.caption}}</h3>
    <div>
        <p>
        {{ macro.input(atributos.MostrarEnMenu3,'field_title','checkbox',values.controller ~ '[MostrarEnMenu3]',values.controller ~ '_MostrarEnMenu3',datos.MostrarEnMenu3.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.EtiquetaWeb3,'field_title','text',values.controller ~ '[EtiquetaWeb3]',values.controller ~ '_EtiquetaWeb3',datos.EtiquetaWeb3,'255','CampoTextoLargo','14') }}
        </p>
    </div>
    <h3{% if (datos.MostrarEnMenu4.IDTipo == '1') %} style="font-weight: bold;"{% endif %}>{{atributos.MostrarEnMenu4.caption}}</h3>
    <div>
        <p>
        {{ macro.input(atributos.MostrarEnMenu4,'field_title','checkbox',values.controller ~ '[MostrarEnMenu4]',values.controller ~ '_MostrarEnMenu4',datos.MostrarEnMenu4.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.EtiquetaWeb4,'field_title','text',values.controller ~ '[EtiquetaWeb4]',values.controller ~ '_EtiquetaWeb4',datos.EtiquetaWeb4,'255','CampoTextoLargo','14') }}
        </p>
    </div>
    <h3{% if (datos.MostrarEnMenu5.IDTipo == '1') %} style="font-weight: bold;"{% endif %}>{{atributos.MostrarEnMenu5.caption}}</h3>
    <div>
        <p>
        {{ macro.input(atributos.MostrarEnMenu5,'field_title','checkbox',values.controller ~ '[MostrarEnMenu5]',values.controller ~ '_MostrarEnMenu5',datos.MostrarEnMenu5.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.EtiquetaWeb5,'field_title','text',values.controller ~ '[EtiquetaWeb5]',values.controller ~ '_EtiquetaWeb5',datos.EtiquetaWeb5,'255','CampoTextoLargo','14') }}
        </p>
    </div>
</div>

{#
{{ macro.input(atributos.OrdenMenu1,'field_title','text',values.controller ~ '[OrdenMenu1]',values.controller ~ '_OrdenMenu1',datos.OrdenMenu1,'4','CampoUnidades','17') }}
{{ macro.input(atributos.OrdenMenu2,'field_title','text',values.controller ~ '[OrdenMenu2]',values.controller ~ '_OrdenMenu2',datos.OrdenMenu2,'4','CampoUnidades','18') }}
{{ macro.input(atributos.OrdenMenu3,'field_title','text',values.controller ~ '[OrdenMenu3]',values.controller ~ '_OrdenMenu3',datos.OrdenMenu3,'4','CampoUnidades','19') }}
{{ macro.input(atributos.OrdenMenu4,'field_title','text',values.controller ~ '[OrdenMenu4]',values.controller ~ '_OrdenMenu4',datos.OrdenMenu4,'4','CampoUnidades','20') }}
{{ macro.input(atributos.OrdenMenu5,'field_title','text',values.controller ~ '[OrdenMenu5]',values.controller ~ '_OrdenMenu5',datos.OrdenMenu5,'4','CampoUnidades','21') }}
#}

{% include '_global/fieldsComunes.html.twig' %}

{{ macro.foco(values.controller ~ '_Titulo') }}