{#
  Module: GconSecciones
  Document : modules\GconSecciones\fields.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 30.10.2012 18:44:57
#}

<div id="tabs1" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top"><a href="#arbol">Árbol de Secciones</a></li>
        <li class="ui-state-default ui-corner-top{%if values.solapaActiva == 'general'%}  ui-tabs-selected ui-state-active{%endif%}">
            <a href="#general" onclick='$( "#solapaActiva" ).val("general");'>{%if datos.Titulo%}<b>{{datos.Titulo|slice(0,40)}}</b> ...{%else%}Sección{%endif%}</a>
            {{ macro.publicar(atributos.Publish,values.controller ~ '[Publish]',values.controller ~ '_Publish',datos.Publish.IDTipo) }}
        </li>     
        {% if values.varEnvMod.showCommonFields == '1'  or user.IdPerfil.Id == '1' %}
        <li class="ui-state-default ui-corner-top{%if values.solapaActiva == 'fieldsComunes'%}  ui-tabs-selected ui-state-active{%endif%}">
            <a href="#fieldsComunes" onclick='$( "#solapaActiva" ).val("fieldsComunes");'>Más detalles...</a>
        </li>        
        {% endif %}                      
    </ul>

    <div id="arbol">
        <ul>
        {% for key,padre in datos.getArbolHijos %}
            <li>
                {{ macro.ordenarPopup(values.controller,'BelongsTo',0)}}
                {{ macro.actualizaColumna(values.controller,padre.id,'Publish',padre.publish,'Publicar/Despublicar')}}                      
                <a href="{{app.path}}/{{values.controller}}/edit/{{key}}">{{padre.titulo}}</a>
                {% if padre.nContenidos %}
                    <img src="{{app.path}}/images/list-icons/pin.png" title="{{padre.nContenidos}} contenidos"/>
                {% endif %}
                {% if padre.nHijos %}
                <ul>
                {% for keyHijo,hijo in padre.hijos %}
                    <li style="margin-left: 30px;">
                        {% if padre.nHijos > 1 %}
                            {{ macro.ordenarPopup(values.controller,'BelongsTo',padre.id)}}
                        {% endif %}
                        {{ macro.actualizaColumna(values.controller,hijo.id,'Publish',hijo.publish,'Publicar/Despublicar')}}        
                        <a href="{{app.path}}/{{values.controller}}/edit/{{keyHijo}}">{{hijo.titulo}}</a>
                        {% if hijo.nContenidos %}
                            <img src="{{app.path}}/images/list-icons/pin.png" title="{{hijo.nContenidos}} contenidos"/>
                        {% endif %}
                        {% if hijo.nHijos %}
                        <ul>
                        {% for keyNieto,nieto in hijo.hijos %}
                            <li style="margin-left: 60px;">
                                {% if hijo.nHijos > 1 %}
                                    {{ macro.ordenarPopup(values.controller,'BelongsTo',hijo.id)}}
                                {% endif %}
                                {{ macro.actualizaColumna(values.controller,nieto.id,'Publish',nieto.publish,'Publicar/Despublicar')}}                                     
                                <a href="{{app.path}}/{{values.controller}}/edit/{{keyNieto}}">{{nieto.titulo}}</a>
                                {% if nieto.nContenidos %}
                                    <img src="{{app.path}}/images/list-icons/pin.png" title="{{nieto.nContenidos}} contenidos"/>
                                {% endif %}                            
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
        
    <div id="general">
        {% if datos.NivelJerarquico %}Nivel Jerárquico {{datos.NivelJerarquico}}{% endif %}
        {{ macro.input(atributos.Titulo,'field_title','text',values.controller ~ '[Titulo]',values.controller ~ '_Titulo',datos.Titulo,'255','CampoTextoLargo','1') }}
        {{ macro.input(atributos.Subtitulo,'field_title','text',values.controller ~ '[Subtitulo]',values.controller ~ '_Subtitulo',datos.Subtitulo,'255','CampoTextoLargo','2') }}
        {{ macro.textarea(atributos.Introduccion,'field_title',values.controller ~ '[Introduccion]',values.controller ~ '_Introduccion',datos.Introduccion,none,none,'textarea','3')}}
        {{ macro.input(atributos.MostrarTitulo,'field_title','checkbox',values.controller ~ '[MostrarTitulo]',values.controller ~ '_MostrarTitulo',datos.MostrarTitulo.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.MostrarSubtitulo,'field_title','checkbox',values.controller ~ '[MostrarSubtitulo]',values.controller ~ '_MostrarSubtitulo',datos.MostrarSubtitulo.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.MostrarIntroduccion,'field_title','checkbox',values.controller ~ '[MostrarIntroduccion]',values.controller ~ '_MostrarIntroduccion',datos.MostrarIntroduccion.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.input(atributos.MostrarSubsecciones,'field_title','checkbox',values.controller ~ '[MostrarSubsecciones]',values.controller ~ '_MostrarSubsecciones',datos.MostrarSubsecciones.IDTipo,'255','CampoTextoLargo','12') }}
        {{ macro.radio(atributos.ModoMostrarContenidos,'field_title',values.controller ~ '[ModoMostrarContenidos]',values.controller ~ '_ModoMostrarContenidos',datos.ModoMostrarContenidos.IDTipo,datos.ModoMostrarContenidos.fetchAll(Descripcion,0),'chzn-radio','22')}}
        {{ macro.select(atributos.CriterioOrdenContenidosHijos,'field_title',values.controller ~ '[CriterioOrdenContenidosHijos]',values.controller ~ '_CriterioOrdenContenidosHijos',none,datos.CriterioOrdenContenidosHijos.CriterioOrdenContenidosHijos,datos.CriterioOrdenContenidosHijos.fetchAll(none,0),'chzn-select','23')}}
        
        {% if values.varEnvMod.especificas.numMenus > 0  or user.IdPerfil == 1 %}
            {# 
                Solapas de MOSTRAR EN MENU N 

                Se muestran tantas solapas como las indicadas en la
                la variable de entorno especifica de este módulo 'numMenus'

                Como máximo se deberán mostrar 5 solapas, ya que la tabla GconSecciones
                solo permite gestionar hasta 5 'MostrarEnMenuN'
            #}
            <div id="tabsMostrarEnMenu" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    {% for nMenu in 1 .. values.varEnvMod.especificas.numMenus %}
                    <li class="ui-state-default ui-corner-top">
                        <a href="#mostrarEnMenu{{nMenu}}" {% if (datos.getMostrarEnMenuN(nMenu) == '1') %} style="font-weight: bold;"{% endif %}>{{atributos['MostrarEnMenu'~nMenu].caption}}</a>
                    </li>
                    {% endfor %}            
                </ul>

                {% for nMenu in 1 .. values.varEnvMod.especificas.numMenus %}
                <div id="mostrarEnMenu{{nMenu}}">
                    <p>
                    {{ macro.input(atributos['MostrarEnMenu'~nMenu],'field_title','checkbox',values.controller ~ '[MostrarEnMenu'~nMenu~']',values.controller ~ '_MostrarEnMenu'~nMenu,datos.getMostrarEnMenuN(nMenu),'255','CampoTextoLargo','12') }}
                    {{ macro.input(atributos['EtiquetaWeb'~nMenu],'field_title','text',values.controller ~ '[EtiquetaWeb'~nMenu~']',values.controller ~ '_EtiquetaWeb'~nMenu,datos.getEtiquetaWebN(nMenu),'255','CampoTextoLargo','13') }}
                    </p>
                </div>
                {% endfor %}   

            </div>

        {% endif %}

        {#
        {{ macro.input(atributos.OrdenMenu1,'field_title','text',values.controller ~ '[OrdenMenu1]',values.controller ~ '_OrdenMenu1',datos.OrdenMenu1,'4','CampoUnidades','17') }}
        {{ macro.input(atributos.OrdenMenu2,'field_title','text',values.controller ~ '[OrdenMenu2]',values.controller ~ '_OrdenMenu2',datos.OrdenMenu2,'4','CampoUnidades','18') }}
        {{ macro.input(atributos.OrdenMenu3,'field_title','text',values.controller ~ '[OrdenMenu3]',values.controller ~ '_OrdenMenu3',datos.OrdenMenu3,'4','CampoUnidades','19') }}
        {{ macro.input(atributos.OrdenMenu4,'field_title','text',values.controller ~ '[OrdenMenu4]',values.controller ~ '_OrdenMenu4',datos.OrdenMenu4,'4','CampoUnidades','20') }}
        {{ macro.input(atributos.OrdenMenu5,'field_title','text',values.controller ~ '[OrdenMenu5]',values.controller ~ '_OrdenMenu5',datos.OrdenMenu5,'4','CampoUnidades','21') }}
        #}

    </div>

    {% include '_global/fieldsComunes.html.twig' %}
</div>
