{#
  Module: CpanUsuarios
  Document : modules\CpanUsuarios\fields.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 07.12.2012 23:55:49
#}

<h3>{{datos.Id.getNombreApellidos}}</h3> <h5>{{datos.Id.getEmail}}</h5>
{{ macro.select(atributos.IdPerfil,'field_title',values.controller ~ '[IdPerfil]',values.controller ~ '_IdPerfil',none,datos.IdPerfil.Id,datos.IdPerfil.fetchAll('Perfil',0),'chzn-select','1')}}
{{ macro.select(atributos.IdTipoUsuario,'field_title',values.controller ~ '[IdTipoUsuario]',values.controller ~ '_IdTipoUsuario',none,datos.IdTipoUsuario.Id,datos.IdTipoUsuario.fetchAll('Descripcion',0),'chzn-select','2')}}
{{ macro.select(atributos.IdRol,'field_title',values.controller ~ '[IdRol]',values.controller ~ '_IdRol',none,datos.IdRol.Id,datos.IdRol.fetchAll('Rol',0),'chzn-select','3')}}

{% include '_global/fieldsComunes.html.twig' %}

{{ macro.foco(values.controller ~ '_IdPerfil') }}
