{# _Emergente/dialogoExportar.html.twig #}

<div id="dialogExportar" title="Formatos de exportación">
    <select id="selectExportType" class="Select" style="width: 100px; margin-top: 20px;">
    {% for value in export_types %}
        <option value="{{value}}">{{value}}</option>
    {% endfor %}
    </select>
    
    <input type="button" value="Exportar" class="Comando"
            onClick="$('#action{{position}}').val('exportar');
                    $('#exportType{{position}}').val($('#selectExportType').val());
                    $(this).hide();$('#selectExportType').hide();
                    $('#espere').css('display','block');
                    document.getElementById('paginacion{{position}}').submit();"
    />
    <div id="espere" style="display: none;">Exportando, espere ...</div>
</div>