{# empty Twig template #}
{% extends '_Emergente/index.html.twig' %}

{% block listado %}
<div id="dialog" title="Enlazar a ...">
    <p>Enlazar {{values.objetoOrigen}} con 
        <select id="selectEnlace" name="controllerDestino" class="Select" style="width: 200px;" onchange="cargaEnlaces(this.value,'{{values.objetoOrigen.PrimaryKeyMD5}}');">
        {% for enlace in values.enlazarCon %}
            <option value="{{enlace.Id}}">{{enlace.Value}}</option>
        {% endfor %}
        </select>
    </p>
</div>

<div id="contenedorEnlaces"></div>

<script>
function cargaEnlaces(controller,primaryKeyMD5) {

    var url = "<iframe src='" + appPath+ "/{{values.controller}}/CargaEnlaces/" + primaryKeyMD5 + "/" + controller + "' width='100%' height='500px'></iframe>";

    $('#contenedorEnlaces').html(url);
}
</script>
{% endblock %}