{#
  Module: CpanDocs
  Document : modules\CpanDocs\form.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 30.09.2012 21:04:21
#}

{% extends values.controller ~ '/indexPopup.html.twig' %}

{% block listado %}

{% include '_global/formErrores.html.twig' with {'errores': values.errores} %}
{% include '_global/alertas.html.twig' with {'alertas': values.alertas} %}


<div id="acordeonOrden">
    
{% for key,objeto in values.listado.data %}
<div>
    <h3>      
        {% if objeto.PathName != '' %}
            {% if objeto.Type == 'video' or objeto.Type == 'audio'%}
                <div>
                    {% if objeto.Type == 'video'%}
                        {{ macro.embedMedia(project.url~"/"~objeto.PathName,190,120)}}
                    {% else %}
                        {{ macro.embedMedia(project.url~"/"~objeto.PathName,190,50)}}
                    {% endif %}
                </div>            
            {% else %}
                <div style="margin-left: 25px;">
                    <div style="margin-top:5px; width: 60px; overflow: hidden;">
                    <img src="{{project.url}}/{{objeto.PathName}}" width="50px;" />
                    </div>
                    <div id="texto{{key}}">{{objeto.Title}}</div>
                </div>
            {% endif %}
        {% else %}
            <span style="margin-left: 25px; font-weight: bold;">Nuevo Documento</span>
        {% endif %}        
    </h3>
    <div>
    <form name="linea{{key}}" id="linea{{key}}" action="" method="POST" enctype="multipart/form-data" class="form_container left_label">
    <input name="controller" value="{{values.controller}}" type="hidden" />
    <input name="action" id="action{{key}}" value="edit" type="hidden" />
    <input name="CpanDocs[Id]" class="{% if objeto.Id %}orden{% endif %}" value="{{ objeto.Id }}" type="hidden" />
    <input name="CpanDocs[Entity]" value="{{ objeto.Entity }}" type="hidden" />
    <input name="CpanDocs[IdEntity]" value="{{ objeto.IdEntity }}" type="hidden" />
    <input name="CpanDocs[Type]" value="{{ objeto.Type }}" type="hidden" />
    <input name="accion" id="accion{{key}}" value="" type="hidden" /> 

    <div class="docsFoto">
        {% if objeto.PathName != '' %}
            {% if objeto.Type == 'video' or objeto.Type == 'audio'%}
                <div>
                    {% if objeto.Type == 'video'%}
                        {{ macro.embedMedia(project.url~"/"~objeto.PathName,190,120)}}
                    {% else %}
                        {{ macro.embedMedia(project.url~"/"~objeto.PathName,190,50)}}
                    {% endif %}
                </div>            
                <div style="text-align: center;">{{objeto.getSize}}</div>
            {% else %}
                <div id="foto{{key}}" style="text-align: center;">
                    <img src="{{project.url}}/{{objeto.PathName}}" width="150px;" />  
                </div>
                <div style="text-align: center;">{{objeto.getSize}} ({{objeto.Width}} x {{objeto.Height}})</div>
            {% endif %}
        {% else %}
            &nbsp;
        {% endif %}
        <div>
        <input name="MAX_FILE_SIZE" value="{{values.maxFileSize}}" type="hidden"  />
        <input name="documento" id="documento{{key}}" type="file" />
        </div>
    </div>

    <div class="docsItem">
        <div class="Item">
            <div class="docsLabel">Título</div>
            <input onkeyup="$('#texto{{key}}').html($(this).val());"style="width: 300px;" name="CpanDocs[Title]" id="CpanDocs_Title{{key}}" value="{{objeto.Title}}" type="text" />
        </div>            
        <div>
            <div class="docsLabel">Nombre</div>
            <input style="width: 300px; "name="CpanDocs[Name]" id="CpanDocs_Name{{key}}" value="{{objeto.Name}}" type="text" />
        </div>  
        <div class="Item">
            <div class="docsLabel">Mostrar título</div>
            <input name="CpanDocs[ShowCaption]" 
                   id="CpanDocs_ShowCaption{{key}}" 
                   value="{{objeto.ShowCaption.IDTipo}}" 
                   type="checkbox" 
                   {% if objeto.ShowCaption.IDTipo %} checked{% endif %}
                   onchange="if ($(this).is(':checked')) {$(this).val('1');} else {$(this).val('0');}"
            />
        </div>
            
        {% if objeto.Type == 'tiny' and objeto.Id > 0%}
        <div class="Item" style="margin-top: 10px;">
            <p>{{project.url}}/{{objeto.PathName}}</p>
        </div>
        {% endif %}
            
        <div class="Item" id="botonera{{key}}">
            {% if objeto.Id > 0 %}
            <input type="image" src="{{app.path}}/images/botonsave.png" onclick="loading('botonera{{key}}');$('#accion{{key}}').val('G');submitForm('linea{{key}}');" alt="Guardar" title="Guardar Documento" />
            <input type="image" src="{{app.path}}/images/papelera.gif" onclick="if (!confirm('Desea eliminar el documento?')) {return false;} else {loading('botonera{{key}}');$('#accion{{key}}').val('B');submitForm('linea{{key}}');}" alt="Borrar" title="Borrar Documento" />
            {% else %}
            <input type="image" src="{{app.path}}/images/nuevo.png" onclick="loading('botonera{{key}}');$('#action{{key}}').val('new'); submitForm('linea{{key}}');" alt="Nuevo" title="Crear Documento" />
            {% endif %}
        </div>
    </div>

    </form>
    </div>
</div>
{% endfor %}
</div>

<div>
    <form name="reordenar" id="reordenar" action="" method="POST" class="form_container left_label">
    <input name="controller" value="{{values.controller}}" type="hidden" />
    <input name="action" id="action" value="cambiarOrden" type="hidden" />
    <input name="CpanDocs[Entity]" value="{{ values.listado.data[0].Entity }}" type="hidden" />
    <input name="CpanDocs[IdEntity]" value="{{ values.listado.data[0].IdEntity }}" type="hidden" />
    <input name="CpanDocs[Type]" value="{{ values.listado.data[0].Type }}" type="hidden" />  
    <input name="nuevoOrden" id="nuevoOrden" value="" type="hidden" />
    <div style="margin-top: 10px; text-align: center;">
        <input value="Cambiar Orden" type="submit" 
           onclick="
                var campos;
                
                $('.orden').each(function(){
                    if (campos)
                        campos = campos + ',' + $(this).val();
                    else
                        campos = $(this).val();
                });
                $('#nuevoOrden').val(campos);
                submitForm('reordenar');
           "
        />
    </div>
    </form>
</div>
{% endblock %}