{# Muestra los contenidos #}

<span class="arbol" title="Ver/Ocultar contenidos de esta sección" onclick="switchDisplay('contenidosDe_{{contenidos.id}}');">
    <img src="{{app.path}}/images/js-tree/folder-closed.gif"/>
    {{contenidos.titulo}} ({{ contenidos.nContenidos}})
</span>

<div id='contenidosDe_{{contenidos.id}}' style="display: none;">
    <ul>
    {% for contenido in contenidos.contenidos %}
        <li>
 
            <input
                title="Publicar / Despublicar"
                id="check{{contenido.Id}}"
                type="checkbox"
                value="{{contenido.Publish}}"
                {% if (contenido.Publish == '1') %} checked {% endif %}
                onchange="
                  if ($('#check{{contenido.Id}}').is(':checked')) {$('#check{{contenido.Id}}').val('1');} else {$('#check{{contenido.Id}}').val('0');}
                  actualizaPublish('GconContenidos','{{contenido.Id}}',$('#check{{contenido.Id}}').val());
                "
            />
                
            <a href="{{app.path}}/{{values.controller}}/edit/{{contenido.PrimaryKeyMD5}}" title="Editar..." class="arbol">{{contenido.Value}}</a>            
            {% if (contenido.Id == values.datos.Id) %}
                <img class="arbol" src="{{app.path}}/images/botoneditar.png"/>
                <script>switchDisplay('contenidosDe_{{contenidos.id}}');</script>
            {% endif %}             
        </li>
    {% endfor%}
    </ul>
</div>