{#
  Module: PcaeProyectosApps
  Document : modules\PcaeProyectosApps\list.html.twig

  author: Sergio Pérez <sergio.perez@albatronic.com>
  copyright: INFORMATICA ALBATRONIC SL
  date 25.10.2012 19:10:00
#}

{% extends values.controller  ~ '/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{# include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'BancosOficinas','position':'izq'}#}
    
	<table width="100%">
            <tr class='Titulos'>
                <td class='Item'>App</td>
                <td class='Item'>N. Licencias</td>
            </tr>

            <tbody class='Cuerpo'>
            {% for key,objeto in values.listado.data %}
                {% if (key is even) %}
                    {% set classFila = 'Impar' %}
                {% else %}
                    {% set classFila = 'Par' %}
                {% endif %}
            <tr onclick="location.href='{{app.path}}/{{values.controller}}/edit/{{objeto.primaryKeyMD5}}/{{objeto.IdProyecto.Id}}'" class='{{classFila}}'>
                <td class='Item'><a href="{{app.path}}/{{values.controller}}/edit/{{objeto.primaryKeyMD5}}/{{objeto.IdProyecto.Id}}" title="Editar...">{{objeto.IdApp}}</a></td>
                <td class='Item' align="center">{{objeto.NumeroLicencias}}</td>
            </tr>
            {% else %}
            <tr><td colspan='9'>No hay informaci&oacute;n que cumpla esos criterios</td></tr>
            {% endfor %}
            </tbody>
        </table>

	{# include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'BancosOficinas','position':'der'}#}

</div>
{% endblock %}